<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.full_address %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @listing.coordinates %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @listing.bedroom_count %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @listing.bed_count %>
</p>

<p>
  <strong>Bathroom</strong>
  <%= @listing.bathroom_count %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Night Fee:</strong>
  <%= @listing.night_fee_dollars %>
</p>

<p>
  <strong>Cleaning Fee:</strong>
  <%= @listing.cleaning_fee_collars %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
