<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= format_address(@listing.street_address, @listing.city, @listing.country_code) %>
</p>

<p>
  <% if @listing.image.present? %>
      <%= image_tag @listing.image_url %>
  <% end %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= format_coordinates(@listing.latitude, @listing.longitude) %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @listing.bedroom_count %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @listing.bed_count %>
</p>

<p>
  <strong>Bathroom</strong>
  <%= @listing.bathroom_count %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<h2>Book</h2>
<p>
  <strong>Night Fee:</strong> <%= format_cents(@listing.night_fee_cents, @listing.country_code) %> per night
</p>
<p>
  <strong>Cleaning Fee:</strong> <%= format_cents(@listing.cleaning_fee_cents, @listing.country_code) %> per night
</p>

<%= form_with(model: @new_booking) do |f| %>
  <div>
    <%= f.label :check_in_at, 'Check In' %>
    <%= f.date_field :check_in_at %>
  </div>
  <div>
    <%= f.label :check_out_at, 'Check Out' %>
    <%= f.date_field :check_out_at %>
  </div>
  <div>
    <%= f.label :guest_count, 'Guests' %>
    <%= f.number_field :guest_count %>
  </div>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', listings_path, class: "btn btn-primary"%>
<% if user_signed_in? %>
  <% if @listing.host_id == current_user.id %>
    <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-primary" %>
    <%= link_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
  <% else %>
    <%= link_to 'Message me', conversations_path(sender_id: current_user.id, recipient_id: @listing.host_id), method: 'post', class:"btn btn-primary" %>
  <% end %>
<% end %>